.resultContainer{
  width:70%;
  min-height:80vh;

  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color:#000000;
}

.pokemonContainer{
  
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:70%;
}
.pokemonContainer td:nth-child(1) {width:20%;}
.pokemonContainer td:nth-child(2) {width:20%;}
.pokemonContainer .tblNormal td:nth-child(1) {width:20%;}
.pokemonContainer .tblNormal td:nth-child(2) {width:80%;}
.evolutionContainer{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  margin-top: 10px;
  background-color:#bbcaeb;
}
.pokemonContainer td:nth-child(1) {width:30%;}
.pokemonContainer td:nth-child(2) {width:30%;}
.evolutionContainer div{
  width:100%;
  background-color:#b2c3e8;
  padding:5px;
}
.evolutionContainer .tbl tbody tr {cursor: pointer;padding:5px;}
.evolutionContainer .tbl tbody tr td {padding:5px;}
.evolutionContainer .tbl tbody tr:hover {background-color: #b2c3e8;}

.tblNormal{
  width:100%;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  padding:5px;
  font-size:14px;
  background-color:#bbcaeb;
  border-radius:5px;
}
.tblNormal tr td{
  padding:5px;
}
.tbl{
  width:100%;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  padding:5px;
  font-size:14px;
}