.mainBody {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 6rem;
  min-height: 100vh;
  min-width: 100vw;

  background-color: yellow;
}
